/* Bannière */

#slider
{
	height:200px;
	width: 1200px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;
    border: 2px solid orange;
}

.bouton
{
	display: inline-block;
	position: absolute;
    right: 3%;
	background: url("images/bouton.png");
	border: 0.5px solid white;
	border-radius: 10px;
	padding: 3px 10px 3px 10px;
	color: white;
	opacity: 0.7;
	font-size: 0.9em;
	text-align: center;
	text-decoration: none;
}
.bouton:hover
{
	opacity: 1;
}

#imgs img 
{
    /*overlays all the imgs */
    /*You see only the first img, for now*/
    width:1200px;
    height:200px;
    position:absolute;
    top:0;
    left:0;
    transition: 1s;
    visibility:hidden;
    /*we want to show only 1 img at the time*/
}
/*the container */
#Snav 
{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
/* where the circles are going to be*/
#SnavUp 
{
    display:block;
    width:100%;
    height:20%;
}
#Scircles 
{
    display:block;
    width:10%;
    height:25%;
    margin-right:3%;
    margin-top:2%;
    float:right;        /* is going to be on the right side of the slider*/
}
#Scircles ul 
{
    margin:0;
    float:right;
    display:block;
    width:100%;
    height:100%;
}
#Scircles li
{
    /*we don't need the dots*/
    list-style:none;
    display:block;
    background-color:rgba(0, 0, 0, 1);
    width:10%;
    height:100%;
    margin-left:5%;
    float:left;     /*on the same line*/
    visibility:hidden;
    /*we need circles, not squares*/
    border-radius: 25px;
}
/*ok , we are done with the SnavUp*/
#SnavMiddle 
{
    display:block;
    width:100%;
    height:15%;
    margin-top:5%;     /*this is up to you , where you want the buttons*/
}
/*left button*/
#Sleft 
{
    width:7%;
    height:100%;
    float:left;
    margin-left:2%;
    opacity:0.8;
}
/*button effect*/
#Sleft:hover 
{
    opacity:1;
}
#Sright 
{
    width:7%;
    height:100%;
    float:right;
    margin-right:2%;
    opacity:0.8;
}
#Sright:hover 
{
    opacity:1;
}
/*now we have to add the info at the bottom of the slider*/
#SnavBottom 
{
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.8);
    width: 1200px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom:0;
}
#SnavBottom p 
{
    font:normal 130% Arial;
    color:yellow;
    visibility:hidden;
    position: absolute;
    left: 4%;
    bottom: -30%;
    width: 90%;
}
/*that's all , now we need to code the slider, the effect*/